.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.id {
  font-size: 20px;
  text-align: center;
}

.nickname {
}

.nicknameSettingBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nicknameEditbox {
  align-items: center;
}

.settingTag {
  align-self: flex-start;
  margin: 8px 0;
}

.inputBox {
  width: 300px;
}

.editRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.validButton {
  border: 0;
  height: 36px;
  border-radius: 4px;
}

.editButton {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.deleteDialog {
  min-height: 160px;
}

.dialogBtnBox {
  display: flex;
  justify-content: space-around;
}
