.container {
}

.id {
  font-size: 20px;
}

.nickname {
}

.nicknameSettingBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nicknameEditbox {
  align-items: center;
}

.settingTag {
  align-self: flex-start;
}

.inputBox {
  width: 300px;
}

.editButton {
  align-self: flex-end;
}
