.dialog {
  min-width: 296px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.privacyPolicyCheckBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacyPolicyBox {
  max-height: 80px;
  max-width: 90%;
  overflow: auto;
  padding: 8px 0;
}

.privacyPolicyText {
  font-size: 14px;
}

.phoneNumberInput {
  width: 88%;
  height: 40px;
}

.helpText {
  text-align: center;
  padding: 0 12px;
}

.codeChecking {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 90%;
  justify-content: space-around;
}

.codeCheckBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.codeCheckInput {
  width: 200px;
  height: 36px;
}

.errorText {
  color: rgb(240, 34, 34);
}

.errorInputBox {
  border: 1px solid rgb(240, 34, 34);
}
