.container {
  width: 88px;
  height: 100px;
  background: linear-gradient(130deg, rgb(210, 224, 255), rgb(243, 203, 255));
  border: 1px solid #b7bdee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  text-align: center;
}

.pet {
  padding: 0 4px;
  width: 80%;
}

.text {
}

@media only screen and (min-width: 1224px) {
}
