.contentContainer {
  width: 300px;
  height: 46vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0;
}

.contentContainer::-webkit-scrollbar {
  display: none;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1224px) {
  .contentContainer {
    height: 80vh;
  }
}
