.contentBox {
  width: 300px;
  display: flex;
  height: 50vh;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 4px auto;
  overflow: auto;
}

.contentBox::-webkit-scrollbar {
  display: none;
}

.furnitures {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 46vh;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
}

.inventoryNoDataText {
  text-align: center;
  font-size: 18px;
}

@media only screen and (min-width: 1224px) {
  .contentBox {
    height: 65vh;
    width: 30vw;
    justify-content: flex-start;
    gap: 12px;
  }
}
