.container {
  width: 30vw;
  margin: 0 auto;
}

.header {
  background-color: #b7bdee;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 12px 12px;
}
.content {
  height: 47vh;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logoImg {
  width: 120px;
  height: 120px;
}

.contentImg {
  height: 40vh;
}

.inputGroup {
  width: 300px;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputBox {
  border: 0;
  width: 100%;
  height: 36px;
  padding: 0 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.inputLabel {
  display: block;
}

.loginFailedMessage {
  color: #f12c2c;
}

.buttonBox {
  width: 100%;
  min-width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1224px) {
  .content {
    margin-top: 0;
    width: 360px;
  }

  .container {
    margin: 0;
  }
}
