.emotionImage {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.carousel {
  text-align: center;
}

.starImage {
  font-size: 32px;
}

.roomInfo {
  background-color: #e7e9fd;
}

.roomDiv {
  display: flex;
  justify-content: center;
}

.roomName {
  font-size: 25px;
  font-weight: 900;
}

.button {
}

.doorImage {
  max-height: 230px;
}
