.container {
}

.unity {
  height: 300px;
  background-color: bisque;
}

.contentBox {
  width: 100%;
  height: 52vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
}
