.container {
}

.unity {
  min-height: 320px;
  background: linear-gradient(45deg, #bbb1ff, #f2bfff);
  border-radius: 0 0 12px 12px;
}

.contentBox {
  width: 100%;
  height: 52vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
