.menuBox {
  display: flex;
  flex-direction: column;
}

.menuRow {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.infoBox {
  height: 124px;
  width: 300px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.infoText {
  padding: 0 4px;
}

.pointCheckBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 6px;
}
