.menuBox {
  display: flex;
  flex-direction: column;
}

.menuRow {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.infoBox {
  height: 144px;
  width: 300px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 12px;
}

.diaryInfoRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nicknameText {
  font-size: 18px;
}

.diaryInfoText {
  text-align: center;
  font-size: 14px;
  margin: 4px;
}

.diaryCheckedBox {
  border-radius: 12px;
  width: 50%;
  height: 40px;
  background-color: #b7bdee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.diaryCheckedText {
  color: white;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.infoText {
  padding: 0 4px;
}

.pointCheckBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 6px;
}

.large {
  font-size: 36px;
}
