.contentContainer {
  width: 300px;
  height: 48.5vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.contentContainer::-webkit-scrollbar {
  display: none;
}

.emotionBox {
  height: 52px;
  width: 300px;
  border-radius: 12px;
  border: 1px solid #8682ce;
  margin: 8px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.emotionImg {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.contentBox {
  position: relative;
  border-radius: 12px;
  width: 300px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  margin: 8px 0;
}

.date {
}

.day {
}

.colorPicker {
  position: absolute;
  width: 28px;
  height: 28px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  right: 12px;
  border-radius: 8px;
  z-index: 10;
}

.colorPickerBar {
  position: absolute;
  width: 240px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: space-evenly;
  right: 48px;
}

.colors {
  width: 28px;
  height: 28px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.content {
  overflow: auto;
  padding: 0 12px;
  margin: 4px 0;
}

.buttonBox {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.red {
  background-color: #ffd2d2;
}

.orange {
  background-color: #ffe7d0;
}

.yellow {
  background-color: #fff9c1;
}

.green {
  background-color: #ddffe0;
}

.blue {
  background-color: #def7ff;
}

.indigo {
  background-color: #e7e9fd;
}

.purple {
  background-color: #f5e1ff;
}

@media only screen and (min-width: 1224px) {
  .contentContainer {
    height: 70vh;
    width: 30vw;
  }

  .emotionBox {
    margin: 8px auto;
    width: 30vw;
  }

  .contentBox {
    height: 52vh;
    width: 100%;
    margin: 8px auto;
  }

  .buttonBox {
    margin: 8px auto;
    width: 30vw;
  }
}
