.contentContainer {
  width: 300px;
  height: 48.5vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 0;
}

.contentContainer::-webkit-scrollbar {
  display: none;
}

.emotionBox {
  height: 52px;
  width: 300px;
  border-radius: 12px;
  border: 1px solid #8682ce;
  margin: 8px 0;
}

.emotionImg {
}

.contentBox {
  background-color: #e7e9fd;
  border-radius: 12px;
  width: 300px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  margin: 8px 0;
}

.date {
}

.day {
}

.content {
  overflow: auto;
}

.buttonBox {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
