.contentContainer {
  width: 300px;
  height: 48vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4px;
}

.contentContainer::-webkit-scrollbar {
  display: none;
}

.category {
  width: 43%;
  height: 34px;
  border-radius: 20px;
  background: linear-gradient(135deg, #e1bcff, #ffd2e7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1224px) {
  .contentContainer {
    height: 65vh;
    width: 30vw;
  }

  .category {
    width: 48%;
    height: 10%;
  }
}
